.trackerBox {
  text-align: center;
}

.counter {
  font-size: 4rem;
  margin: 20px 0px;
  transition: color .3s ease;
  font-weight: bold;
}

.running {
  color: red;
}

.entryDetail {
  label, select {
    text-align: left;
    width: 100%;
    display: block;
  }
}
